body{
	font-size: 20px; 
	font-family: 'Indie Flower', cursive , '宋体';
	min-width:600px;
	width:auto;
	position:relative;
	margin:0;
	padding:0;
}
.main{
	
	width: 100%; 
	height: 100%;
	background-color: #cec86f;
	text-align:center;
}
.container{
	
	width: 600px;
	max-width: 700px;
	position: relative;
	margin: 0 auto;
	background-color: grey;
	display:block;
	
}
.content{
	display: block;
	min-height: 768px;
}
.box{
	
	width: 200px; height: 100px;
	display: inline-block;
	background-color:white;
	
	margin: 2px;
	box-shadow:10px;

}
@media only screen and (min-width: 0px) and (max-width:498px),only screen and (min-width:499px) and (max-width:704px) {
	.box{
	
	height: 100px;
	display: inline-block;
	background-color:white;

	
	margin: 2px;
	box-shadow:10px;

}.box,.container,.content{
  width:100%;
  text-align:center;
}
}
.footer{
	clear:both;
}